{% extends "layout.html" %}

{% block title %}
    Committee
{% endblock %}

{% block main %}

<head>
<style>

</style>
</head>

<h1 style="text-align: left">
    {{ committee['committee'] }}
</h1>

<h4 style="text-align: left">
    {{ committee['jurisdiction'] }}
</h4>

<br>

<div style="text-align: left">
    Listed below are the committee's members, with those who have filed financial
    transaction reports listed on top. Click on one to see a list of the reports that
    committee member has filed.  
</div>

<br>

<div >
    <form action="/reports" method="post">
        <table class="maintable" id="report_table" >
            <thead>
                <tr>
                    <th name="committee" value ='{{ committee['committee'] }}'>Name</th>
                    <th>State</th>
                    <th>Party</th>
                    <th>Transaction reports</th>
                </tr>
            </thead>
            <tbody>
                {% for person in members %}
                <tr>
                    <td>{{ person['name'] }}</td>
                    <td>{{ person['state'] }}</td>
                    <td>{{ person['party'] }}</td>
                    {% if  person['report']  == "Yes"  %}
                        <td><button name = "person" value = '{{ person['name'] }}' class="btn btn-primary" type="submit">View list of reports</button></td>
                    {% else %}
                        <td>No reports filed</td>
                    {% endif %}

                </tr>
                {% endfor %}

                </tbody>
        </table>
    </form>



</div>


{% endblock %}

