{% extends "layout.html" %}

{% block title %}
    Main Page
{% endblock %}

{% block main %}

<head>
<style>

</style>
</head>

<h1 style="text-align: left">Congressional Trade Watch</h1>
<br>

    <div style="text-align: left">
    The Stop Trading on Congressional Knowledge Act, or STOCK Act, was enacted in 2012 to prevent
    legislators from insider trading. The law makes it illegal for Congressional legislators and
    related government officials to use non-public information that they have access to for their
    own personal benefit. This includes buying and selling stocks and other investments.
    <br>
    <br>
    As part of the STOCK Act, Senators as well as House representatives are required to file reports disclosing purchases and sales of stocks
    and other investments. This website focuses on transaction reports filed by House Representatives.
    It lets you examine their transactions through the lens of the committees they serve on. Why the focus on committees?
    Participation on committees may give legislators access to confidential
    information that they could be tempted to illegally use for their own benefit. Owning investments in companies related to
    policy lawmakers are involved in may also make them biased. For example, if members of the House
    Committee on Financial Services own shares of banks, that could be a cause for concern.
    <br>
    <br>
    <a href= "/">Get started</a>




{% endblock %}

